@import "tailwindcss";

.signin-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;        /* ใช้ min-height เผื่อเนื้อหาเกิน */
}

.signin-box {
  @apply rounded-lg p-20 bg-white shadow-lg shadow-blue-400 flex flex-col items-start;
}
.signin-box h1{
  @apply mb-5;
}
input{
  @apply p-2 rounded-md border border-gray-300;
}
/* 
body{
  @apply bg-blue-300
}
 */
.signin-box button {
  @apply mt-4 bg-green-600 text-white px-6 py-2 rounded-md;
}